/* Center the form in the middle of the screen */
.signup-container{
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f9;
}

.signup-box{
    background-color: #1450A0;
    border-radius: 20px;
    padding: 20px 0px;
    height: 500px;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color:#ffffff ;
}

.signup-heading{
    margin: 0px;
    color: #ffffff;
    font-family: 'Tahoma';
    text-align: center;
    padding: 20px;
}

input{
    width: 80%;
    height: 30px;
    border-radius: 8px;
    margin: 20px 0px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
}

.signup-btn{
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #1450A0;
}

.signin-link-btn{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #1450A0;
    margin: 20px 0px;
&:hover{
    text-decoration: underline;
}
}