.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.2);
}

.nav-heading{
    color: #1450A0;
    font-weight: bold;
    font-family: 'Tahoma';
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.logout-btn {
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    padding: 5px;
    background-color: #1450A0;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
}