button {
    cursor: pointer;
}

.stt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 89vh;
    background-color: #f1f5f9;
}

.stt-box {
    width: 60%;
    padding: 20px;
    height: 60%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.speech-text{
    border: 1px solid gray;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-family: 'Tahoma','Segoe UI', 'Geneva', 'Verdana', 'sans-serif';
    line-height: 1.5;
    resize: none;
}

.recording-txt{
    color: #ff0000;
    font-family: 'Tahoma';
    font-size: 16px;
    font-weight: 500;

}

.txt{
    color: gray;
    font-family: 'Tahoma';
    font-size: 16px;
    font-weight: 500;
}

.text-container{
    width: 100%;
    height: 80%;
    padding: 10px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
}

.mic-btn {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: #1450A0;
    color: #ffffff;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
}

.stt-reset-btn {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: #fef3c7;
    color: #b45407;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
}

.speech-text {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.stt-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}